In [13]:
import os
import pandas as pd
import numpy as np

this_path = os.path.abspath('.')

In [14]:
df1 = pd.read_excel(os.path.join(this_path, '指数行情序列.xlsx'), index_col=0)
df2 = pd.read_excel(os.path.join(this_path, '中间价_美元兑人民币.xlsx'), index_col=0)
df1['中间价_美元兑人民币'] = df2

df1

,沪深300,中证500,中证1000,中债-国债总财富(总值)指数,中债-企业债总财富(总值)指数,中债-中期票据总财富(总值)指数,南华商品指数,中间价_美元兑人民币
时间,,,,,,,,
2004-01-02,1204.6130,0.0000,0.0000,104.3940,0.0000,0.0000,0.00,8.2767
2004-01-05,1240.4670,0.0000,0.0000,103.5300,0.0000,0.0000,0.00,8.2769
2004-01-06,1251.1350,0.0000,0.0000,103.4010,0.0000,0.0000,0.00,8.2769
2004-01-07,1266.2680,0.0000,0.0000,103.2480,0.0000,0.0000,0.00,8.2771
2004-01-08,1284.3380,0.0000,0.0000,103.3050,0.0000,0.0000,0.00,8.2772
...,...,...,...,...,...,...,...,...
2022-11-16,3834.3899,6203.9174,6702.0410,212.7199,217.9098,201.6363,2306.67,7.0363
2022-11-17,3818.6640,6217.2052,6714.5035,212.9879,217.6424,201.4517,2296.15,7.0655
2022-11-18,3801.5686,6191.6477,6658.4005,213.0027,217.6072,201.4632,2291.79,7.1091
2022-11-21,3769.1269,6189.7092,6689.3254,213.1926,217.6971,201.5283,2252.86,7.1256
2022-11-22,3769.1269,6189.7092,6689.3254,213.1926,217.6971,201.5283,2252.86,7.1667

In [15]:
df1 = df1.replace(0, np.nan)
df1 = df1.dropna()

df1

,沪深300,中证500,中证1000,中债-国债总财富(总值)指数,中债-企业债总财富(总值)指数,中债-中期票据总财富(总值)指数,南华商品指数,中间价_美元兑人民币
时间,,,,,,,,
2008-05-05,4055.7790,4040.1590,3694.1160,117.2570,95.0510,100.0540,1376.5683,7.0016
2008-05-06,4010.8880,4024.9900,3698.9180,117.2270,95.0740,100.0160,1390.4567,6.9888
2008-05-07,3821.3190,3850.2260,3553.3340,116.6110,94.5570,100.0020,1380.7005,6.9848
2008-05-08,3925.0410,3985.1970,3669.8730,116.6560,94.6340,100.1220,1386.5074,7.0010
2008-05-09,3878.9240,3986.2400,3674.6330,116.6410,94.7090,100.1540,1384.3677,7.0005
...,...,...,...,...,...,...,...,...
2022-11-16,3834.3899,6203.9174,6702.0410,212.7199,217.9098,201.6363,2306.6700,7.0363
2022-11-17,3818.6640,6217.2052,6714.5035,212.9879,217.6424,201.4517,2296.1500,7.0655
2022-11-18,3801.5686,6191.6477,6658.4005,213.0027,217.6072,201.4632,2291.7900,7.1091
2022-11-21,3769.1269,6189.7092,6689.3254,213.1926,217.6971,201.5283,2252.8600,7.1256
2022-11-22,3769.1269,6189.7092,6689.3254,213.1926,217.6971,201.5283,2252.8600,7.1667

In [16]:
df1.to_csv(os.path.join(this_path, 'guosheng_data.csv'), encoding='utf_8_sig')